.nav {
  display: flex;
  justify-content: space-between;
  svg {
    font-size: 25px;
  }
  div {
    a {
      margin-left: 10px;
      padding: 10px;
    }
  }

  .visitors {
    font-size: 19px;
    text-decoration: none;
    padding-right: 20px;
    transition: all 0.2s ease-in;
    border-radius: 7px;
    &:hover {
      background-color: #42b983;
      border-radius: 7px;
      color: #fff;
    }
  }
}

.nav-text {
  font-weight: bold;
  color: #2c3e50;
  font-size: 21px;
}
