.visitor-table {
  border-collapse: collapse;
  border: 1px solid #1d2833;
  margin: auto;
  thead,
  tfoot {
    th {
      height: 45px;
      background: #2c3e50;
      color: #fff;
    }
  }

  tbody {
    tr {
      &:hover {
        background: #eeaff5;
      }
    }
  }
  th,
  td {
    border: 1px solid #404d5a;
    & {
      padding: 0 15px;
    }
  }

  .status {
    padding: 10px;
  }
}

.logged-in {
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background: green;
  }
}

.logged-out {
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background: red;
  }
}

.text-shadow-30 {
  font-size: 30px;
  text-shadow: 2px 2px #ccc;
}
